@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  src: url("../src/fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: bold;
  src: url("../src/fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url("../src/fonts/Gilroy-Semibold.otf") format("truetype");
}

html,
body,
label {
  font-family: 'Gilroy', sans-serif;
}